@font-face {
    font-family: 'BedrockC';
    src: url('BedrockC.woff2') format('woff2'),
        url('BedrockC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cony';
    src: url('Cony.woff2') format('woff2'),
        url('Cony.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

