/*
font-family: "BedrockC";                     !! regular 400
font-family: "Cony";                         !! regular 400
font-family: 'Lobster', cursive;             !! regular 400

font-family: 'Gemunu Libre', sans-serif;     !! 400,500,700,800
font-family: 'Inconsolata', monospace;       !! 400,500,700,900
font-family: 'Stick No Bills', sans-serif;   !! 400,500,700,800
*/
/* ---------fonts----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;900&display=swap');

@font-face {
	font-family: "BedrockC";
	src: url("../fonts/") format("woff2"), url("../fonts/BedrockC.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cony";
	src: url("../fonts/Cony.woff2") format("woff2"), url("../fonts/Cony.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* ---------fonts------------------------ */

/* ------------------ wrapper */
.wrapper{
	min-width: 100%;
	min-height: 100%;
	background-color: rgb(182, 231, 250);
}

/* ------------------ header */
.header{
	width: 100%;
	height: 120px;
	background-color: rgb(98, 76, 197);
	text-align: center;
	line-height: 110px;
}
.mainheader{
	display: inline-block;
	vertical-align: middle;
}

.logo{
	width: 80px;
	height: 80px;
	background-color: rgb(171, 235, 52);
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.logo__box,
.header__nav,
.header__nav-element{
	display: inline-block;
}
.header__nav-element a{
	color: #fff;
	font-family: "BedrockC";
	font-size: 25px;
	margin: 0px 0px 0px 20px;
	border-top: 3px solid rgb(206, 73, 73);
	border-right: 3px solid rgb(104, 6, 6);
	border-right-style: dashed;
}
/* ------------------ main */
.main{}

/* ------------------ content */
.content{
	max-width: 1170px;
	margin: 0px auto;
	background-color: rgb(61, 189, 99);
   padding: 30px 0px 30px 0px;
}

/* ------------------border */
.border{
	margin: 0px auto;
	text-align: center;
}
h2{
	color: #fff;
	font-family: 'Stick No Bills', sans-serif;
	font-size: 35px;
	font-weight: 900; 
	text-align: center;
   /*padding: 30px 0px 0px 0px;*/
}
.border div{
	width: 200px;
	height: 200px;
	background-color: rgb(114, 184, 216);
	display: inline-block;
	margin: 20px 20px 20px 20px;
   vertical-align: top;
}
.border div p{
   color: #fff;
   font-size: 20px;
   font-family: "Cony"; 
   margin: 20px 0px 0px 0px;
   text-shadow: 7px -5px 3px #3310CE;
}
.border1 {
	border: 10px solid rgb(179, 226, 7);
}
.border2 {
	border: 10px dotted rgb(146, 18, 18);
}
.border3 {
	border: 10px dashed rgb(33, 11, 110);
}
.border4 {
	border: 15px double rgb(53, 38, 38);
}
.border5 {
   border-left: 10px groove rgb(219, 27, 187);
   border-bottom: 10px groove rgb(219, 27, 187);
   border-top: 10px groove rgb(219, 27, 187);   
}
.border6 {
   border-top: 10px ridge rgb(236, 22, 22);
   border-right: 10px ridge rgb(236, 22, 22);
   border-bottom: 10px ridge rgb(236, 22, 22);
}
.border7 {
   border: 10px inset rgb(180, 19, 19);
}
.border8 {
   border: 10px outset rgb(5, 148, 69);
}
.spanborder{
   padding: 20px;
}
.spanborder span{
   font-family: "BedrockC", sans-serif;
   font-size: 20px;
   color: #fff;
   line-height: 130%;
   letter-spacing: 1px;
   border: 2px dotted rgb(150, 10, 10);
}
.spanborder p{
   font-family: "Cony", sans-serif;     
   font-size: 20px;
   color: #fff;
   line-height: 130%;
   letter-spacing: 1px;
   border: 3px dashed rgb(50, 6, 131);
   margin: 10px 0px 0px 0px;
}
.spanborder > span + span{
   color: rgb(18, 15, 175);
   font-family: "BedrockC"; 
   border: 3px solid rgb(253, 237, 14);
   display: inline-block;
   margin: 10px 0px 0px 0px;
}
.imgborder{
   border: 10px solid rgb(78, 20, 20);
   margin: 10px 3px 20px 3px;
}
.imgcontainer{
   width: 80%;
   margin: 0px auto;
}
.solid{
   border-style: solid;
   border-bottom-left-radius: 50px;
   border-top-right-radius: 50%;
   border-bottom-right-radius: 20%;
   border-bottom-width: 20px;
   border-top-width: 2px;
   border-top-left-radius: 13%;
   border-left-color: rgb(245, 11, 11);
}
.dotted{
   border-style: dotted;
   border-bottom: none;
}
.dashed{
   border-style: dashed;
   border-top: none;
   border-bottom-width: 10px;
   border-bottom-style: double;
}
.borderlink{
   font-family: 'Lobster', cursive;  
   font-size: 30px;
   border: 5px double rgb(233, 8, 8);
   transition: 1s all;
   margin: 0px 0px 30px 0px;
   display: inline-block;
}
.borderlink:hover{
   border: 5px dotted rgb(79, 7, 212);
   color: #fff;
}
.imgcontainer + div{
   text-align: center;
}

/* ------------------outline */
.demo{
   width: 80%;
   margin: 30px auto 0;
   text-align: center;   
}
.demoborder,
.demooutline{
   font-family: 'Inconsolata', monospace; 
   font-size: 25px;
   font-weight: 900;
   width: 200px;
   height: 200px;
   color: rgb(231, 23, 23);
   display: inline-block;
   margin: 0px 100px 0px 100px;
   background-color: rgb(220, 233, 40);
   cursor: pointer;
}
.demoborder{
   border: 10px solid rgb(27, 5, 226);
   box-sizing: unset;
}
.demoborder:hover{
   border: none;
}
.demooutline{
   outline: 10px solid rgb(27, 5, 226);
   box-sizing: unset;
}
.demooutline:hover{
   outline: none;
}

/* ------------------ footer */
.footer{
	background-color: rgb(29, 155, 148);
}
.mainfooter{
	width: 100%;
	height: 150px;
	line-height: 140px;
	vertical-align: middle;
	text-align: center;
}
.mainfooter ul li{
	display: inline-block;
	vertical-align: middle;
}
.footerlink{
	display: inline-block;
	color: #fff;
	margin: 0px 80px 0px 80px;
	font-family: 'Stick No Bills', sans-serif;
	font-weight: 900;
	line-height: 0.9;
	transition: 0.5s all;
}
.footerlink:hover{
	font-size: 150%;
	color: rgb(225, 248, 21);
	font-family: "BedrockC";  
}
.twitt__link{
	width: 80px;
	height: 30px;
	border-radius: 100% 0% 73% 27% / 52% 54% 46% 48%;
	background-color: rgb(179, 61, 159);
	padding: 5px 0px 0px 0px;
}
.face__link{
	width: 80px;
	height: 30px;
	border-radius: 86% 14% 14% 86% / 52% 54% 46% 48%;
	background-color: rgb(15, 187, 44);
	padding: 10px 0px 0px 10px;
}
.tell__link{
	width: 80px;
	height: 30px;
	border-radius: 0% 100% 56% 44% / 52% 54% 46% 48% ;
	background-color: rgb(32, 61, 223);
	padding: 5px 10px 0px 5px;
}